# Database (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost/database?sslmode=require"

# Kinde (Auth)
KINDE_CLIENT_ID=YOUR_KINDE_CLIENT_ID
KINDE_CLIENT_SECRET=YOUR_KINDE_CLIENT_SECRET
KINDE_ISSUER_URL=YOUR_KINDE_ISSUER_URL
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard

# Google Generative AI (AI)
GOOGLE_GENERATIVE_AI_API_KEY=YOUR_GOOGLE_GENERATIVE_AI_API_KEY
